.idea/workspace.xml
.idea/vcs.xml
.idea/runConfigurations.xml
.idea/modules.xml
.idea/misc.xml
.idea/gradle.xml
.idea/copyright
.idea/compiler.xml
.idea/.name
local.properties
import-summary.txt
app/build/intermediates/blame/res/debug/single/layout.json
app/build/intermediates/blame/res/debug/single/drawable.json
app/build/intermediates/blame/res/debug/single/drawable-mdpi-v4.json
app/build/intermediates/blame/res/debug/single/drawable-hdpi-v4.json
app/build/generated/source/r/debug/android/androidVNC/R.java
build
.gradle
